.wrapper{
background-color:hsla(194, 80%, 37%, 0.692);
clear: both;

}

#title{
    color: antiquewhite;
    
}

#sub-h{
    color: hsla(194, 80%, 37%, 0.692);
    background-color: antiquewhite;
    line-height: 20px;
    width: 5%;
     margin-right: .8%;
}

.form{
    background-color: antiquewhite;
    display: flex;
    align-items: center;
   padding: .9%;
   margin: .4%;

    
    
}

label{
    margin-right: .8%;
}